{% extends 'base.html' %}
{% block content %}
<section class="section-content padding-y">
       <div class="sign_up_container card mx-auto" style="max-width:620px; margin-top: 80px;">
              <article class="card-body">
                     <header class="mb-4">
                            <h4 class="card-title">Reset Password</h4>
                     </header>
                     <div>
                            <p>Password resetting link has been sent to you email. Follow the link.</p>
                            <p>Thank You </p>
                     </div>
              </article>
       </div>
</section>
{% endblock %}